{# templates/discord.html #}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Sketch: Manage Discord</title>
    <link rel="stylesheet" href="static/style.css">
    <script type="text/javascript" src="static/index.js"></script>
</head>

<body>

    {% include "header.html" %}

    <div class="container">
        <div>
            <h1>Manage Guilds</h1>
                {% if guilds %}
                    <ul class="guildList">
                        {% for guild in guilds|reverse %}
                            <li class="guildListItem"><form id="{{guild.id}}-manageGuildForm" class="manageGuildForm" method="POST" action="/discord/config">
                                    <fieldset>
                                        <legend><b>{{ guild.name }} Configuration</b></legend>
                                        <input type="hidden" name="_csrf_token" value="{{csrfToken}}"/>
                                        <input type="hidden" name="guild" value="{{guild.id}}"/>
                                        <label for="{{guild.id}}-timeZone">Server Time Zone: <small>(like <a href="https://gist.github.com/heyalexej/8bf688fd67d7199be4a1682b3eec7568"><code>US/Central</code></a>)</small></label>
                                        <input class="timeZone" type="text" id="{{guild.id}}-timeZone" name="timeZone" value="{{guild.timeZone}}">
                                        <label for="{{guild.id}}-deleteOldAnnouncements">Edit or delete old announcements:</label>
                                        <select class="deleteOldAnnouncements" id="{{guild.id}}-deleteOldAnnouncements" name="deleteOldAnnouncements">
                                            <option value="False"{% if not guild.deleteOldAnnouncements %} selected{% endif %}>Edit</option>
                                            <option value="True"{% if guild.deleteOldAnnouncements %} selected{% endif %}>Delete</option>
                                        </select>
                                        <label for="{{guild.id}}-spamProtectionAnnounceDelay">Announce spam/offline delay: <small>(minutes)</small></label>
                                        <input class="spamProtectionAnnounceDelay" type="number" id="{{guild.id}}-spamProtectionAnnounceDelay" name="spamProtectionAnnounceDelay" value="{{guild.spamProtectionAnnounceDelay}}">
                                        <input type="submit" value="Update">
                                    </fieldset>
                                </form>
                                <ul>
                                    <li><h3>Join Roles:</h3>
                                        <ul>
                                            {% if guild.joinRoles %}
                                                {% for role in guild.joinRoles %}
                                                    <li><form id="{{guild.id}}-{{role.id}}-manageJoinRoleForm" class="manageJoinRoleForm" method="POST" action="/discord/joinRole/delete">
                                                        <fieldset>
                                                            <legend><b>{{ role.name }}</b></legend>
                                                            <input type="hidden" name="_csrf_token" value="{{csrfToken}}"/>
                                                            <input type="hidden" name="guild" value="{{guild.id}}"/>
                                                            <input type="hidden" name="roleID" value="{{role.id}}"/>
                                                            <span>ID: {{ role.id }}</span>
                                                            <input type="submit" value="Delete">
                                                        </fieldset>
                                                    </form></li>
                                                {% endfor %}
                                            {% else %}
                                                <li>None</li>
                                            {% endif %}
                                            <li><form id="{{guild.id}}-newJoinRoleForm" method="POST" action="/discord/joinRole/add">
                                                <details><summary>Add Join Roles</summary>
                                                    <input type="hidden" name="_csrf_token" value="{{csrfToken}}"/>
                                                    <input type="hidden" name="guild" value="{{guild.id}}"/>
                                                    <label for="{{guild.id}}-roles">Roles: <small>(ctrl+click or click+drag to select multiple)</small></label>
                                                    <br>
                                                    <select class="roles" id="{{guild.id}}-roles" name="roles" size="15" multiple required>
                                                        {% if discordGuilds %}
                                                            {% for role in discordGuilds[guild.id].roles %}
                                                                {% if role.name == "@everyone" %}
                                                                {% else %}
                                                                    <option value="{{role.id}}">{{role.name}} ({{role.id}})</option>
                                                                {% endif %}
                                                            {% endfor %}
                                                        {% endif %}
                                                    </select>
                                                    <input type="submit" value="Add Roles">
                                                </details>
                                            </form></li>
                                        </ul>
                                    </li>
                                    <li><h3>Twitch Announcements:</h3>
                                        <ul>
                                            {% if guild.twitchAnnouncements %}
                                                {% for announcement in guild.twitchAnnouncements %}
                                                    {% set ns = namespace(currentChannelName='') %}
                                                    {% for channel in discordGuilds[guild.id].text_channels %}
                                                        {% if channel.id == announcement.channelID %}
                                                            {% set ns.currentChannelName = channel.name %}
                                                        {% endif %}
                                                    {% endfor %}
                                                    <li><form id="{{announcement.id}}-manageAnnouncementForm" class="manageAnnouncementForm" method="POST" action="/discord/announcement/delete">
                                                        <fieldset>
                                                            <legend><b>{{ announcement.streamName }}</b></legend>
                                                            <input type="hidden" name="_csrf_token" value="{{csrfToken}}"/>
                                                            <input type="hidden" name="announcementID" value="{{announcement.id}}"/>
                                                            <input type="hidden" name="guild" value="{{guild.id}}"/>
                                                            <input type="hidden" name="streamName" value="{{announcement.streamName}}"/>
                                                            <span>
                                                                #{{ ns.currentChannelName|e }}: {{ announcement.announcementText|e }}
                                                                <div>
                                                                    <button data-guild="{{guild.id}}" data-channel="{{announcement.channelID}}" data-announcement="{{announcement.id}}" type="button" value="Edit" onclick="editAnnouncement(this)">Edit</button>
                                                                    <input type="submit" value="Delete">
                                                                </div>
                                                            </span>
                                                        </fieldset>
                                                    </form></li>
                                                {% endfor %}
                                            {% else %}
                                                <li>None</li>
                                            {% endif %}
                                            <li><form id="{{guild.id}}-newAnnouncementForm" method="POST" action="/discord/announcement/add">
                                                <details><summary>New Twitch Announcement</summary>
                                                    <input type="hidden" name="_csrf_token" value="{{csrfToken}}"/>
                                                    <input type="hidden" name="guild" value="{{guild.id}}"/>
                                                    <label for="{{guild.id}}-streamName">Stream:</label>
                                                    <input class="streamName" type="text" id="{{guild.id}}-streamName" name="streamName" maxlength="100" required/>
                                                    <br>
                                                    <label for="{{guild.id}}-channel">Announcement channel:</label>
                                                    <select class="channel" id="{{guild.id}}-channel" name="channel" required>
                                                        {% if discordGuilds %}
                                                            {% for channel in discordGuilds[guild.id].text_channels %}
                                                                <option value="{{channel.id}}">{{channel.name}}</option>
                                                            {% endfor %}
                                                        {% endif %}
                                                    </select>
                                                    <br>
                                                    <label for="{{guild.id}}-announcementText">Announce Message:</label>
                                                    <br>
                                                    <label for="{{guild.id}}-specialSelect"><small>Insert special mention:</small></label>
                                                    <select class="specialSelect" id="{{guild.id}}-specialSelect" name="specialSelect" onchange="updateSpecialSelectType(this)">
                                                        <option selected disabled hidden>Choose Type</option>
                                                        <option value="Role">Role</option>
                                                        <option value="Channel">Channel</option>
                                                        <option value="Emoji">Custom Emoji</option>
                                                        <option value="User">User</option>
                                                    </select>
                                                    {# https://discord.com/developers/docs/reference#message-formatting #}
                                                    <select class="specialSelectInsert specialSelectRole" id="{{guild.id}}-specialSelectRole" name="specialSelectRole" onchange="addSpecialMention(this)">
                                                        <option selected disabled hidden>Choose Role</option>
                                                        <option value="@everyone">Everyone</option>
                                                        <option value="@here">Here</option>
                                                        {% if discordGuilds %}
                                                            {% for role in discordGuilds[guild.id].roles %}
                                                                {% if role.name == "@everyone" %}
                                                                {% else %}
                                                                    <option value="<@&{{role.id}}>">{{role.name}} ({{role.id}})</option>
                                                                {% endif %}
                                                            {% endfor %}
                                                        {% endif %}
                                                    </select>
                                                    <select class="specialSelectInsert specialSelectChannel" id="{{guild.id}}-specialSelectChannel" name="specialSelectChannel" onchange="addSpecialMention(this)">
                                                        <option selected disabled hidden>Choose Channel</option>
                                                        {% if discordGuilds %}
                                                            {% for channel in discordGuilds[guild.id].channels %}
                                                                <option value="<#{{channel.id}}>">{{channel.name}}</option>
                                                            {% endfor %}
                                                        {% endif %}
                                                    </select>
                                                    <select class="specialSelectInsert specialSelectEmoji" id="{{guild.id}}-specialSelectEmoji" name="specialSelectEmoji" onchange="addSpecialMention(this)">
                                                        <option selected disabled hidden>Choose Emoji</option>
                                                        {% if discordGuilds %}
                                                            {% for emoji in discordGuilds[guild.id].emojis %}
                                                                <option value="{{emoji}}">{{emoji.name}}</option>
                                                            {% endfor %}
                                                        {% endif %}
                                                    </select>
                                                    <select class="specialSelectInsert specialSelectUser" id="{{guild.id}}-specialSelectUser" name="specialSelectUser" onchange="addSpecialMention(this)">
                                                        <option selected disabled hidden>Choose User</option>
                                                        {% if discordGuilds %}
                                                            {% for member in discordGuilds[guild.id].members %}
                                                                <option value="<@{{member.id}}>">{% if member.global_name %}{{member.global_name}}{% else %}{{ member.name }}{% endif %} ({{member.name}})</option>
                                                            {% endfor %}
                                                        {% endif %}
                                                    </select>
                                                    <br>
                                                    <textarea class="announcementText" id="{{guild.id}}-announcementText" name="announcementText" maxlength="1900"></textarea>
                                                    <input type="submit" value="Add Announcement">
                                                </details>
                                            </form></li>
                                        </ul>
                                    </li>
                                    <li><h3>Youtube Announcements:</h3>
                                        <ul>
                                            {% if guild.youtubeAnnouncements %}
                                                {% for announcement in guild.youtubeAnnouncements %}
                                                    {% set ns = namespace(currentChannelName='') %}
                                                    {% for channel in discordGuilds[guild.id].text_channels %}
                                                        {% if channel.id == announcement.channelID %}
                                                            {% set ns.currentChannelName = channel.name %}
                                                        {% endif %}
                                                    {% endfor %}
                                                    <li><form id="{{announcement.id}}-manageYTAnnouncementForm" class="manageAnnouncementForm" method="POST" action="/discord/ytannouncement/delete">
                                                        <fieldset>
                                                            <legend><b>{{ announcement.youtubeChannel.id }}</b></legend>
                                                            <input type="hidden" name="_csrf_token" value="{{csrfToken}}"/>
                                                            <input type="hidden" name="announcementID" value="{{announcement.id}}"/>
                                                            <input type="hidden" name="guild" value="{{guild.id}}"/>
                                                            <input type="hidden" name="ytChannelID" value="{{announcement.youtubeChannel.id}}"/>
                                                            <span>
                                                                #{{ ns.currentChannelName|e }}: {{ announcement.announcementText|e }}
                                                                <div>
                                                                    <button data-guild="{{guild.id}}" data-channel="{{announcement.channelID}}" data-announcement="{{announcement.id}}" type="button" value="Edit" onclick="editYTAnnouncement(this)">Edit</button>
                                                                    <input type="submit" value="Delete">
                                                                </div>
                                                            </span>
                                                        </fieldset>
                                                    </form></li>
                                                {% endfor %}
                                            {% else %}
                                                <li>None</li>
                                            {% endif %}
                                            <li><form id="{{guild.id}}-newYTAnnouncementForm" method="POST" action="/discord/ytannouncement/add">
                                                <details><summary>New Youtube Announcement</summary>
                                                    <input type="hidden" name="_csrf_token" value="{{csrfToken}}"/>
                                                    <input type="hidden" name="guild" value="{{guild.id}}"/>
                                                    <label for="{{guild.id}}-ytChannelID">Youtube Channel: <small>(<a href="https://support.google.com/youtube/answer/3250431?hl=en">Channel ID</a>, like <code>UC3tNpTOHsTnkmbwztCs30sA</code>.)</small></label>
                                                    <input class="ytChannelID" type="text" id="{{guild.id}}-ytChannelID" name="ytChannelID" size="40" required/>
                                                    <br>
                                                    <label for="{{guild.id}}-channel">Announcement channel:</label>
                                                    <select class="channel" id="{{guild.id}}-channel" name="channel" required>
                                                        {% if discordGuilds %}
                                                            {% for channel in discordGuilds[guild.id].text_channels %}
                                                                <option value="{{channel.id}}">{{channel.name}}</option>
                                                            {% endfor %}
                                                        {% endif %}
                                                    </select>
                                                    <br>
                                                    <label for="{{guild.id}}-announcementText">Announce Message:</label>
                                                    <br>
                                                    <label for="{{guild.id}}-specialSelect"><small>Insert special mention:</small></label>
                                                    <select class="specialSelect" id="{{guild.id}}-specialSelect" name="specialSelect" onchange="updateSpecialSelectType(this)">
                                                        <option selected disabled hidden>Choose Type</option>
                                                        <option value="Role">Role</option>
                                                        <option value="Channel">Channel</option>
                                                        <option value="Emoji">Custom Emoji</option>
                                                        <option value="User">User</option>
                                                    </select>
                                                    {# https://discord.com/developers/docs/reference#message-formatting #}
                                                    <select class="specialSelectInsert specialSelectRole" id="{{guild.id}}-specialSelectRole" name="specialSelectRole" onchange="addSpecialMention(this)">
                                                        <option selected disabled hidden>Choose Role</option>
                                                        <option value="@everyone">Everyone</option>
                                                        <option value="@here">Here</option>
                                                        {% if discordGuilds %}
                                                            {% for role in discordGuilds[guild.id].roles %}
                                                                {% if role.name == "@everyone" %}
                                                                {% else %}
                                                                    <option value="<@&{{role.id}}>">{{role.name}} ({{role.id}})</option>
                                                                {% endif %}
                                                            {% endfor %}
                                                        {% endif %}
                                                    </select>
                                                    <select class="specialSelectInsert specialSelectChannel" id="{{guild.id}}-specialSelectChannel" name="specialSelectChannel" onchange="addSpecialMention(this)">
                                                        <option selected disabled hidden>Choose Channel</option>
                                                        {% if discordGuilds %}
                                                            {% for channel in discordGuilds[guild.id].channels %}
                                                                <option value="<#{{channel.id}}>">{{channel.name}}</option>
                                                            {% endfor %}
                                                        {% endif %}
                                                    </select>
                                                    <select class="specialSelectInsert specialSelectEmoji" id="{{guild.id}}-specialSelectEmoji" name="specialSelectEmoji" onchange="addSpecialMention(this)">
                                                        <option selected disabled hidden>Choose Emoji</option>
                                                        {% if discordGuilds %}
                                                            {% for emoji in discordGuilds[guild.id].emojis %}
                                                                <option value="{{emoji}}">{{emoji.name}}</option>
                                                            {% endfor %}
                                                        {% endif %}
                                                    </select>
                                                    <select class="specialSelectInsert specialSelectUser" id="{{guild.id}}-specialSelectUser" name="specialSelectUser" onchange="addSpecialMention(this)">
                                                        <option selected disabled hidden>Choose User</option>
                                                        {% if discordGuilds %}
                                                            {% for member in discordGuilds[guild.id].members %}
                                                                <option value="<@{{member.id}}>">{% if member.global_name %}{{member.global_name}}{% else %}{{ member.name }}{% endif %} ({{member.name}})</option>
                                                            {% endfor %}
                                                        {% endif %}
                                                    </select>
                                                    <br>
                                                    <textarea class="announcementText" id="{{guild.id}}-announcementText" name="announcementText" maxlength="1900"></textarea>
                                                    <br>
                                                    <span class="error">Note: Adding a channel with many videos may take a LONG time, don't refresh, don't panic - just let it load!</span>
                                                    <input type="submit" value="Add Announcement">
                                                </details>
                                            </form></li>
                                        </ul>
                                    </li>
                                    <li><h3>Authorized Users:</h3>
                                        <ul>
                                            {% if guild.authorizedUsers %}
                                                {% for user in guild.authorizedUsers %}
                                                    <li><form id="{{guild.id}}-{{user.id}}-manageAuthForm" class="manageAuthForm" method="POST" action="/discord/authorizedUser/delete">
                                                        <fieldset>
                                                            <legend><b>{% if user.name %}{{ user.name }}{% else %}{{ user.username }}{% endif %}</b></legend>
                                                            <input type="hidden" name="_csrf_token" value="{{csrfToken}}"/>
                                                            <input type="hidden" name="guild" value="{{guild.id}}"/>
                                                            <input type="hidden" name="userID" value="{{user.id}}"/>
                                                            <span>Username: {{ user.username }}</span>
                                                            <input type="submit" value="Delete">
                                                        </fieldset>
                                                    </form></li>
                                                {% endfor %}
                                            {% else %}
                                                <li>None</li>
                                            {% endif %}
                                            <li><form id="{{guild.id}}-newAuthForm" method="POST" action="/discord/authorizedUser/add">
                                                <details><summary>Add Authorized Users</summary>
                                                    <input type="hidden" name="_csrf_token" value="{{csrfToken}}"/>
                                                    <input type="hidden" name="guild" value="{{guild.id}}"/>
                                                    <label for="{{guild.id}}-users">Users: <small>(ctrl+click or click+drag to select multiple)</small></label>
                                                    <br>
                                                    <select class="users" id="{{guild.id}}-users" name="users" size="15" multiple required>
                                                        {% if discordGuilds %}
                                                            {% for member in discordGuilds[guild.id].members %}
                                                                <option value="{{member.id}}">{% if member.global_name %}{{member.global_name}}{% else %}{{ member.name }}{% endif %} ({{member.name}})</option>
                                                            {% endfor %}
                                                        {% endif %}
                                                    </select>
                                                    <input type="submit" value="Add Users">
                                                </details>
                                            </form></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>You must first <a href="https://discord.com/api/oauth2/authorize?client_id=1122029171942637638&permissions=8&scope=bot%20applications.commands">add Sketch to a server</a>, or be added to a server's authorized user list by a server owner or other authorized user to manage a guild's settings.</p>
                {% endif %}
        </div>
    </div>

</body>

</html>