{# templates/discord.html #}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Sketch: Manage Discord</title>
    <link rel="stylesheet" href="static/style.css">
    <script type="text/javascript" src="static/index.js"></script>
</head>

<body>

    {% include "header.html" %}

    <div class="container">
        <div>
            <h1>Manage Guilds</h1>
                {% if guilds %}
                    <ul>
                        {% for guild in guilds %}
                            <li>
                                <h2>{{ guild.name }}</h2>
                                {# TODO list config options for joinroles, re-announce delay, deleting or editing past announcements, timezone, and authorized users #}
                                <h3>Twitch Announcements:</h3>
                                <ul>
                                    {% if guild.twitchAnnouncements %}
                                        {% for announcement in guild.twitchAnnouncements %}
                                            {% set ns = namespace(currentChannelName='') %}
                                            {% for channel in discordGuilds[guild.id].text_channels %}
                                                {% if channel.id == announcement.channelID %}
                                                    {% set ns.currentChannelName = channel.name %}
                                                {% endif %}
                                            {% endfor %}
                                            <li><form id="{{announcement.id}}-manageAnnouncementForm" class="manageAnnouncementForm" method="POST" action="/discord/announcement/delete">
                                                <fieldset>
                                                    <legend><b>{{ announcement.streamName }}:</b></legend>
                                                    <input type="hidden" name="_csrf_token" value="{{csrfToken}}"/>
                                                    <input type="hidden" name="announcementID" value="{{announcement.id}}"/>
                                                    <input type="hidden" name="guild" value="{{guild.id}}"/>
                                                    <input type="hidden" name="streamName" value="{{announcement.streamName}}"/>
                                                    <span>
                                                        #{{ ns.currentChannelName|e }}: {{ announcement.announcementText|e }}
                                                        <button data-guild="{{guild.id}}" data-channel="{{announcement.channelID}}" data-announcement="{{announcement.id}}" type="button" value="Edit" onclick="editAnnouncement(this)">Edit</button>
                                                        <input type="submit" value="Delete">
                                                    </span>
                                                </fieldset>
                                            </form></li>
                                        {% endfor %}
                                    {% else %}
                                        <li>None</li>
                                    {% endif %}
                                </ul>
                                <form id="{{guild.id}}-newAnnouncementForm" method="POST" action="/discord/announcement/add">
                                    <fieldset>
                                        <legend><b>New Announcement:</b></legend>
                                        <input type="hidden" name="_csrf_token" value="{{csrfToken}}"/>
                                        <input type="hidden" name="guild" value="{{guild.id}}"/>
                                        <label for="streamName">Stream:</label>
                                        <input type="text" id="streamName" name="streamName" maxlength="100" required/>
                                        <label for="channel">Announcement channel:</label>
                                        <select id="channel" name="channel" required>
                                            {% if discordGuilds %}
                                                {% for channel in discordGuilds[guild.id].text_channels %}
                                                    <option value="{{channel.id}}">{{channel.name}}</option>
                                                {% endfor %}
                                            {% endif %}
                                        </select>
                                        <label for="announcementText">
                                            Announce Message:
                                            <br>
                                            <small>(To mention by role ID, type <code><@&ROLE_ID></code>. To use custom emoji, find emoji codes by putting <code>\:CUSTOM_EMOJI:</code> into a message on Discord!)</small>
                                        </label>
                                        <textarea id="announcementText" name="announcementText" maxlength="1900"></textarea>
                                        <input type="submit" value="Add Announcement">
                                    </fieldset>
                                </form>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
        </div>
    </div>

</body>

</html>