{# templates/index.html #}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Sketch: Home</title>
    <link rel="stylesheet" href="static/style.css">
    <script type="text/javascript" src="static/index.js"></script>
</head>

<body>

    {% include "header.html" %}

    <div class="container">
        <div>
            <h1>Welcome to Sketch c:</h1>
            <p>Sketch is a Discord bot that can announce when you go live on Twitch,<br>automatically give roles to users that join your server,<br>and add self-role selection messages that let users choose their own roles (this function via discord app commands).<br>And that's all he does right now.<br>He will also allow you to link Spotify requests to a Twitch reward and announce new YouTube uploads in the future.</p>
            <p>Please <a href="/login">log in</a> to manage your server! Sorry that the website looks bad I am so tired :)</p>
            <p>There should be links to my stuff here also... but im so tired...</p>
            <p><a href="https://alastairvox.com">my bluesky</a></p>
            <p><a href="https://discord.alastairvox.com">my discord community</a></p>
            <p><a href="https://twitch.tv/alastairvox">my stream</a></p>
            <p><a href="https://youtube.com/alastairvox">my youtube</a></p>
        </div>
    </div>

</body>

</html>