{# templates/login.html #}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Test</title>
    <link rel="stylesheet" href="static/style.css">
    <script type="text/javascript" src="static/index.js"></script>
</head>

<body>

    {% include "messages.html" %}
    
    <div class="container">
        <div>
            <h1>Login</h1>
            <b>Error: Something went wrong with YouTube authorization. (Unknown Error)</b>
            <br>Please try again, or contact alastairvox on discord.
        </div>
    </div>
</body>

</html>