{# templates/login.html #}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Sketch: Login</title>
    <link rel="stylesheet" href="static/style.css">
    <script type="text/javascript" src="static/index.js"></script>
</head>

<body>

    {% include "header.html" %}
    {% include "messages.html" %}
    
    <div class="container">
        <div>
            {% if user %}
                <h1>You're logged in!</h1>
                <b><a href="/discord/auth">Re-authorize with Discord</a> or <a href="/discord">Manage Discord</a></b>
            {% else %}
                <h1>Login</h1>
                <b><a href="/discord/auth">Authorize with Discord</a></b>
            {%endif %}
        </div>
    </div>
</body>

</html>