html, body {
    margin: 0 !important;
    height: 100vh;
}

body {
    font-family: Arial, sans-serif;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: auto 1fr auto;
    grid-template-areas:
        "navigation messages user"
        "content content content";
}
.navigation {
    display: flex;
    flex-direction: row;
    grid-area: navigation;

}

.messages {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: messages;
    font-size: 2em;
}

.success {
    color: forestgreen;
}

.error {
    color: maroon;
}

.user {
    grid-area: user;
    display: grid;
    grid-template-columns: auto auto;
}

.container {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    grid-area: content;
}

form {
    margin-top: 1em;
}

fieldset {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
}

small {
    font-weight: initial;
}

code {
    background-color: lightgrey;
}

textarea {
  field-sizing: content;
  resize: both;
}

.manageAnnouncementForm input, .manageAnnouncementForm button {
    float: right;
}

.buttonContainer {
    display: grid;
    grid-auto-flow: column;
}