html, body {
    margin: 0 !important;
    height: 100vh;
}

body {
    font-family: Arial, sans-serif;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: auto 1fr auto;
    grid-template-areas:
        "navigation messages user"
        "content content content";
}
.navigation {
    display: flex;
    flex-direction: row;
    grid-area: navigation;

}

.messages {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: messages;
    font-size: 2em;
}

.success {
    color: forestgreen;
}

.error {
    color: maroon;
}

.user {
    grid-area: user;
    display: grid;
    grid-template-columns: auto auto;
}

.container {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    grid-area: content;
}

.container > div {
    min-width: 50vw;
}

form {
    margin-top: 1em;
    position: relative;
}

fieldset {
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
}

label {
    font-weight: bold;
}

small {
    font-weight: initial;
}

code {
    background-color: lightgrey;
}

textarea {
  field-sizing: content;
  resize: both;
}

form fieldset > input[type="submit"], form details > input[type="submit"], form span div{
    position: absolute; 
    bottom: 0;
    right: 0;
}

form textarea {
    width: 100%;
}

.buttonContainer {
    display: grid;
    grid-auto-flow: column;
}

legend {
  background-color: black;
  color: white;
  padding: 3px 6px;
}

details {
  border: 1px solid #aaaaaa;
  border-radius: 4px;
  padding: 0.5em 0.5em 0;
}

summary {
  font-weight: bold;
  margin: -0.5em -0.5em 0;
  padding: 0.5em;
}

details[open] {
  padding: 0.5em;
  padding-bottom: 30px;
}

details[open] summary {
  border-bottom: 1px solid #aaaaaa;
  margin-bottom: 0.5em;
}

hr {
    margin: 20px 0;
}